<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 导入css文件 -->
    <!-- 图标 -->
    <link rel="shortcut icon" type="image/x-icon" href="../brand.ico"/>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../media/css/base.css">
    <!-- bootstrap样式 -->
    <link rel="stylesheet" type="text/css" href="../media/lib/bootstrap/css/bootstrap.css"/>
    <!-- html兼容文件 -->
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>

<!-- 引入js文件 -->
    <!-- jq -->
    <script src="../media/lib/jquery/jquery.min.js"></script>
    <script src="../media/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../media/js/vue.min.js"></script>
    <![endif]-->

    <!-- 引入本页css -->
    <link rel="stylesheet" type="text/css" href="../media/css/personal_center.css"/>
    <title>修改密码</title>
</head>
<body>
<div class="head">
    <nav class="mynavbar navbar navbar-default">
        <!-- 流动容器 -->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="mynavbar-header navbar-header">
                <!-- 手风琴样式 -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class=" navbar-brand" href="#"><img src="../brand.ico" ><span >广东教育视频网<br>http://www.gdedu.tv</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="mycollapse collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="mynav nav navbar-nav">
                    <li><a href="###"><span>首页</span></a></li>
                    <li><a href="###"><span>兴趣课堂</span></a></li>
                    <li><a href="###"><span>点课吧</span></a></li>
                    <li><a href="###"><span>中高考微课</span></a></li>
                    <li><a href="###"><span>同步课程</span></a></li>
                    <li><a href="###"><span>亲子视频</span></a></li>
                    <li><a href="###"><span>校园影视</span></a></li>
                    <li><a href="###"><span>一师一优客<br>一课一名师</span></a></li>
                    <li><a href="###"><span>更多应用</span></a></li>
                </ul>
                <ul class="myuser mynav nav navbar-nav navbar-right">
                    <li><a href="###"><span class="glyphicon glyphicon-search glyphicon glyphicon-user" aria-hidden="true"> 个人中心</span></a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control " placeholder="搜索"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="myleft1 col-xs-3">
                <ul>
                    <li><img src="../media/img/people.png" ></li>
                    <li>冰哥最帅</li>
                    <hr >
                    <li>
                        <ul>
                            <b>我的课堂</b>
                            <li>我的点课</li>
                            <li>我的收藏</li>
                            <li>我的消息</li>
                            <li>历史记录</li>
                        </ul>
                    </li>
                    <hr >
                    <li>
                        <ul>
                            <b>个人设置</b>
                            <li>个人质料</li>
                            <li>修改密码</li>
                        </ul>
                    </li>
                    <hr >
                    <li>
                        <ul>
                            <b>我的订购</b>
                            <li>订购详情</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="myright col-xs-9">
                <ul>
                    <li><b>基本信息</b></li>
                    <hr>
                    <li>
                        <div class="xx">
                            <p>
<!--                                仅支持JPG、JPRG、PNG格式,文件小于4M-->
<!--                                <br>-->
<!--                                <b>(使用高质量图片，可生成高清图像)</b>-->
                            </p>
                            <!-- 冰：添加图片 -->
<!--                            <span class="glyphicon glyphicon-plus" type="file" aria-hidden="true">选择图片</span>-->
                            <br>
                        </div>
                    </li>
                    <li>
                        <div  class="form" id = "info" >
                            <ul>
                                <!-- 冰 -->
                                <input type="hidden" id ="id" name="id" v-model="obj.id">
                                <li>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input disabled="disabled" name="mname" id="mname" v-model="obj.mname"></li>
                                <li>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input v-model="input" type="password" id="password2" name = "password"  /></li>
                                <li>确认密码：<input v-model="input2" type="password" id="password" name = "password" /></li>
                                <li><input type="button"  @click="updatePassword" name="save" id="save" value="保存" /></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var info = new Vue({
        el:"#info",
        data:{
            input:"",
            input2:"",
           obj:{},
            passowrd:{}
        },
        methods:{
            updatePassword:function () {

                if(info.input==info.input2) {

                    this.password =info.input;

                    $.post("user/updatePassword",{"password":this.password},function (data) {
                        alert(data.data);
                    })
                } else {
                    alert("两次密码不正确")
                }
            }
        },
        mounted:function () {
            $.get("../user/allInfo/",function(data){
                alert("121")
                info.obj=data;
            })
        }

    })
</script>
</body>
</html>